header{
    max-width: 1200px;
    margin: 1rem auto;
    font-size: 44px;
}


#container{
    display: flex;
    gap: 35px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

#projects{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

button{
    font-size: 20px;
}

input{
    font-size: 20px;
}

.edit--modal,
.modal {
    font-size: 28px;
}


#description, #edit--description{
    font-size: 22px;
}

#priority, #edit--priority{
    font-size: 22px;
}


#addToDo {
    /* background-color: aqua; */
    height: fit-content;
    /* width: fit-content; */
    font-size: 20px;
    border: 0;
    /* border-radius: 2rem; */
    border: 1px solid black;
}

#addToDo:hover{
    cursor: pointer;
    background-color: rgb(193, 215, 208);
}

form, .edit--form{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 0.5em;
}


.todoCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid grey;
    padding: 0.5rem;
    font-size: 26px;
}

.firstRow{
    display: flex;
    justify-content: space-between;
    
}

.secondRow{
    display: flex;
    justify-content: space-between;
}
.thirdRow{
    display: flex;
    gap: 0.3rem;
}


#todos {
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    gap: 2rem;
}

.projectButton {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.project{
    display: flex;
}


#projectButtons{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


@media screen and (max-width: 1066px) {
    #container{
        display: block;
    }
    body{
        max-width: 85%;
        margin: 0 auto;
    }
    #addToDo{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
  }

@media screen and (max-width: 570px) {
  .firstRow, .secondRow{
    display: block;
  }
}
